name: test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-test:
    runs-on: macos-14
    env:
      LOCAL_BUILD: true
      DEVELOPER_DIR: /Applications/Xcode_15.4.app
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.78.0
          default: true
      - name: get xcode information
        run: |
         xcodebuild -version
         swift --version
      - name: build xcframework
        run: ./scripts/build-xcframework.sh
      - name: compress framework
        run: ./scripts/compress-framework.sh
      - name: Swift tests
        run: swift test

  build-wasm32-wasip1-threads:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.78.0
          default: true
      - run: rustup target add wasm32-wasip1-threads
      - uses: swiftwasm/setup-swiftwasm@v1
        with:
          swift-version: "wasm-5.9.1-RELEASE"
      #- run: cargo build --manifest-path rust/Cargo.toml --target wasm32-wasi --release
      - run: scripts/ci/wasi-regen-swift.sh
      - uses: actions/upload-artifact@v4
        with:
          name: libuniffi_automerge-wasm32-wasip1-threads.a
          path: ./rust/target/wasm32-wasip1-threads/release/libuniffi_automerge.a
      - run: swift build --triple wasm32-wasip1-threads

  rustfmt:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.78.0
          default: true
          components: rustfmt
      - name: Clippy
        run: ./scripts/ci/rustfmt.sh

  clippy:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.78.0
          default: true
          components: clippy
      - name: Clippy
        run: ./scripts/ci/clippy.sh
